#root {
  max-width: none;
  margin: 0;
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.solid:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
  padding: 0em;
}

.read-the-docs {
  color: #888;
}
/*Top Tab Header Styling*/
/*Top Tab Blue Bar Styling*/
.TopPage {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;
  padding: 0.125rem 2rem;
  border-radius: 8px;
  font-size: 1rem;
  background: rgba(87, 160, 210, 0.5);
  color: #ffffff;
  font-weight: bold;
  display: inline-flex;
  justify-content: center;
  gap: 3dvw;
}
.TopPage:hover {
  filter: drop-shadow(0 0 0.5em #dfaf87);
}

/*Top Tab Resume Button Styling*/
.resumebutton {
  width: auto;
  margin-left: auto;

  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: inherit;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: border-color 0.25s;
  display: flex;
  justify-content: center;
  text-wrap: nowrap;
  padding: 0.125rem 2rem;
  white-space: nowrap;
  font-weight: bold;
}
.resumebutton:focus,
.resumebutton:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.resumebutton:hover {
  filter: drop-shadow(0 0 0.5em #dfaf87);
}

/*Top Tab Combiner Styling*/
.headercombiner {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: clamp(0.5rem, 2vw, 1rem);
  display: flex;
  flex-wrap: nowrap;
  box-sizing: border-box;
  white-space: nowrap;
  align-items: center;
}

/*Navigation Bar Styling*/
.navbar {
  position: relative;
}

/*Container Box Styling*/
.containerbox {
  box-sizing: border-box;
  border-radius: 32px;
  border: 1px solid transparent;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: clamp(1rem, 1vw, 1rem);

  display: flex;
  align-items: center;
  justify-content: center;
}

/* General Styling */
.headerbox {
  box-sizing: border-box;
  border-radius: 32px;
  border: 1px solid transparent;
  background: rgba(0, 0, 0, 0.5);
  width: 90%;
  align-self: center;
  place-self: center;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-wrap: wrap;
  gap: 1%;

  margin-bottom: 2rem;
}

.imagecontainerbox {
  position: relative;
  box-sizing: border-box;
  border-radius: 32px;
  border: 1px solid transparent;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: auto;
  padding: clamp(1rem, 1vw, 1rem);
  padding-left: 1rem;
  padding-right: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}
.imagebox {
  flex: 1 1 320px;
  aspect-ratio: 4/5;
  padding: 1rem 1rem;
  overflow: hidden;

  box-sizing: border-box;
  border-radius: 32px;
  border: 1px solid transparent;
  background: rgba(87, 160, 210, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.imagebox img {
  width: 95%;
  height: 95%;
  object-fit: cover;
  border-radius: 32px;
  transition:
    transform 0.5s ease-out,
    filter 2s ease-out;
}
.imagebox img:hover {
  filter: drop-shadow(0 0 1em #dfaf87);
  transform: scale(1.1);
}
.textbox {
  flex: 2 1 420px;
  min-width: 0;

  box-sizing: border-box;
  border-radius: 32px;
  border: 1px solid transparent;
  background: rgba(0, 0, 0, 0);

  padding-left: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.textbox1 {
  flex: 2 1 420px;
  min-width: 0;

  box-sizing: border-box;
  border-radius: 32px;
  border: 1px solid transparent;
  background: rgba(0, 0, 0, 0.8);

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 1rem;
  transition:
    transform 0.5s ease-out,
    filter 2s ease-out;
}
.textbox1:hover {
  filter: drop-shadow(0 0 1em #dfaf87);
  transform: scale(1.1);
}
.textbox2 {
  max-width: 100%;
  min-width: 100%;

  box-sizing: border-box;
  border-radius: 32px;
  border: 1px solid transparent;
  background: rgba(0, 0, 0, 0.8);

  display: flex;
  flex-direction: column;
  justify-content: left;

  margin-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  transition:
    transform 0.5s ease-out,
    filter 2s ease-out;
}
.textbox2:hover {
  filter: drop-shadow(0 0 1em #dfaf87);
  transform: scale(1.1);
}

.education-list {
  margin: 0;
  padding-left: 1rem;
  padding: 1rem;
}
.edu-list li {
  margin: 0.2rem 0;
  line-height: 1.2;
}
